
	
<header>
  <div id="logo">Barcheck.org</div>
</header>
<h3>Deine Suche erzielt folgende Treffer:</h3></br>
<b>
<% @bars.each do |bar| %>
   <%=link_to(bar.name, bar_path(bar))%></br>
<% end %>


</b>



