
	
<header>
  <div id="logo">Barcheck.org</div>
</header>

<% if @bars.blank? %>
	<h3>Deine Suche erziehlt leider kein Treffer</h3>
<% else %>
	<h4>Deine Suche erziehlt folgende Treffer:</h4>
	<h4>
		<% @bars.sort{|a,b|a.name.downcase <=> b.name.downcase}.each do |bar| %>
		   <%=link_to(bar.name, bar_path(bar))%></br>
		<% end %>
	</h4>
<% end %>
</div>

