
	
<header>
  <div id="logo">Barcheck.org</div>
</header>
<% if @bars.blank? %>
	<h3>Deine Suche erziehlt leider kein Treffer</h3>
<% else %>
	<h3>Deine Suche erziehlt folgende Treffer</h3>
	<h4>
		<% @bars.each do |bar| %>
		   <%=link_to(bar.name, bar_path(bar))%></br>
		<% end %>
	</h4>
<% end %>




