<header>
  <div id="logo">Barcheck.org</div>
  <p class="lead">Bewerten Sie Bars, laden Bilder der Location hoch oder geben Sie Kommentare zu Ihrem Besuch ab.<p>
</header>

<% @allbars.each do |bar| %>
    	<%=link_to(bar.name, bar_path(bar))%></br>
<% end %>
<br><br>
<% if @bars.blank? %>
<% else %>
<% @bars.each do |bar| %>
	<% for bar_image in bar.bar_images %>
    	<%= link_to image_tag (bar_image.photo.url(:small)), :class =>"img-polaroid"%>
    <% end %>
<% end %>
<% end %>


