<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <ul class="nav">
    <li><a href="/bars">Home</a></li>
    <li><a href="/bars/new">Bar erstellen</a></li>
  </ul>
  <ul class="nav pull-right">
    <li class="divider-vertical"></li>
    <form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Search">
    </form>
    <li class="divider-vertical"></li>
  </ul>
  <ul class="nav">
      <% if current_user %>
      <li><%= link_to 'Abmelden', destroy_user_session_path, method: :delete %></li>
    </ul>
      <ul class="nav pull-right">
        <li><a>Willkommen, <%= current_user.email %> !</a></li>
      </ul>
      <% else %>
    <ul class="nav">
      <li><%= link_to 'Login', new_user_session_path %></li>
      <li><%= link_to 'Registrieren', new_user_registration_path %></li>
  </ul>
      <% end %>
  </div>
  
</div>
